body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#illusion-container {
    margin: 20px;
}

canvas {
    border: 1px solid black;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-top: 20px;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 20px;
    margin-top: 18px;
}
